# Default ignored files
/.idea/
/.mvn/
/target/
/workspace.xml
/HELP.md

# Datasource local storage ignored files
/../../../../:\java_code\raspberry\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
