<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">

    <title>天气</title>

</head>

<body style="margin: 0;font-family: 'Adobe Caslon Pro Bold'" onload="onload();">
<div id="he-plugin-standard"></div>
<script>
    WIDGET = {
        CONFIG: {
            "layout": 1,
            "width": "500",
            "height": "120",
            "background": 1,
            "dataColor": "FFFFFF",
            "city": "CN101110102",
            "key": "06e68a8f96a54a4d8688da2ece45424e"
        }
    }
</script>
<script src="https://widget.heweather.net/standard/static/js/he-standard-common.js?v=1.1"></script>
</body>


</html>